/**
 * razorCMS FBCMS
 *
 * Copywrite 2014 to Present Day - Paul Smith (aka smiffy6969, razorcms)
 *
 * @author Paul Smith
 * @site ulsmith.net
 * @created Feb 2014
 */

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Arial;
}
.ng-cloak {
  display: none;
}
.mobile-show-block {
  display: block;
}
.mobile-show-inline-block {
  display: inline-block;
}
.mobile-show-inline {
  display: inline;
}
.mobile-hide-block,
.mobile-hide-inline-block,
.mobile-hide-inline {
  display: none;
}
@media (min-width: 830px) {
  .mobile-show-block,
  .mobile-show-inline-block,
  .mobile-show-inline {
    display: none;
  }
  .mobile-hide-block {
    display: block;
  }
  .mobile-hide-inline-block {
    display: inline-block;
  }
  .mobile-hide-inline {
    display: inline;
  }
}
li.dropdown .dropdown-menu {
  margin: 0px;
}
li.dropdown:hover .dropdown-menu {
  display: block !important;
}
.ie8.ie8-admin {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 60px;
}
.ie8 .message {
  background: #ffd494;
  padding: 20px;
  color: #ff4700;
  text-align: center;
}
.input-error {
  background-color: #f3e4e4;
  border-color: #d88585;
}
.alert-form {
  padding: 6px;
  margin: 0px;
  display: inline-block;
}
.notification-message {
  margin: 0px;
  display: block;
  padding: 7px;
  position: fixed;
  bottom: -200px;
  left: 50%;
  width: 40%;
  margin: 0px 0px 0px -20%;
  border: 5px solid #444444;
  z-index: 10000;
  animation: slide-up-down 5s forwards;
  -moz-animation: slide-up-down 5s forwards;
  -webkit-animation: slide-up-down 5s forwards;
  -o-animation: slide-up-down 5s forwards;
}
.click-and-sort a {
  border: 2px dashed transparent;
  cursor: pointer;
}
.click-and-sort a:hover {
  border: 2px dashed #bec9ff;
}
.click-and-sort.selected a {
  border: 2px dashed #bec9ff;
}
.click-and-sort.selected a.add-new-menu {
  border: 2px dashed transparent;
}
.click-and-sort.place-holder a {
  border: 2px dashed #bec9ff;
  opacity: 0.4;
}
.click-and-sort.place-holder a.add-new-menu {
  border: 2px dashed transparent;
}
.click-and-sort.place-holder:hover a {
  opacity: 0.7;
}
.click-and-sort.place-holder:hover a.add-new-menu {
  border: 2px dashed transparent;
}
.click-and-sort .click-and-sort-sub a {
  border: 2px dashed transparent;
  cursor: pointer;
}
.click-and-sort .click-and-sort-sub a:hover {
  border: 2px dashed #bec9ff;
}
.click-and-sort .click-and-sort-sub.selected a {
  border: 2px dashed #bec9ff;
}
.click-and-sort .click-and-sort-sub.place-holder a {
  border: 2px dashed #bec9ff;
  opacity: 0.4;
}
.click-and-sort .click-and-sort-sub.place-holder:hover a {
  opacity: 0.7;
}
.click-and-sort .add-new-menu {
  border: 2px dashed transparent;
}
.click-and-sort .add-new-menu a:hover {
  border: 2px dashed transparent;
}
.razor-admin .template-wrapper {
  padding-top: 60px;
}
.razor-admin .version-tag {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: white;
  padding: 3px;
  font-size: 12px;
}
.razor-admin .razor-admin-panel {
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #dddddd;
  position: fixed;
  width: 100%;
  min-height: 58px;
  z-index: 100;
}
.razor-admin .razor-admin-panel .login-form {
  padding-top: 10px;
  padding-bottom: 10px;
}
.razor-admin .razor-admin-panel .login-form .error-message {
  padding: 6px;
}
.razor-admin .razor-admin-panel .account-details {
  padding: 0px 0px 5px 0px;
}
.razor-admin .razor-admin-panel .account-details span {
  display: block;
  font-size: 12px;
}
.razor-admin .razor-admin-panel .account-details span.name {
  font-weight: bold;
  font-size: 25px;
}
.razor-admin .razor-admin-panel .editor-controls {
  margin-top: 12px;
}
.razor-admin .dashboard-icon {
  padding: 7px;
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 0px;
}
.razor-admin .dashboard-icon:hover {
  text-shadow: 0 0 0.3em #0d7da8;
}
.razor-admin .dashboard-icon.alt-color {
  color: white;
}
.razor-admin .dashboard-icon.alt-color:hover {
  text-shadow: 0 0 0.3em white;
}
.razor-admin .razor-admin-dashboard {
  margin-top: 60px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  z-index: 200;
  color: white;
  overflow-y: auto;
}
.razor-admin .razor-admin-dashboard .dash-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #111111;
  z-index: 300;
}
.razor-admin .razor-admin-dashboard .dash-nav .navbar {
  min-height: inherit;
  margin-top: 10px;
}
.razor-admin .razor-admin-dashboard .dash-nav .navbar .navbar-nav li a {
  padding: 5px 10px;
}
.razor-admin .razor-admin-dashboard .dashbar-nav {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.razor-admin .razor-admin-dashboard .dashbar-nav li {
  height: 50px;
  display: inline-block;
}
.razor-admin .razor-admin-dashboard .dashbar-nav li:hover {
  background-color: #333333;
}
.razor-admin .razor-admin-dashboard .dashbar-nav li.active {
  background-color: #333333;
}
.razor-admin .razor-admin-dashboard .dashbar-nav li.active:hover {
  background-color: #333333;
}
.razor-admin .razor-admin-dashboard .dashbar-nav li a {
  height: 50px;
  line-height: 50px;
  padding: 0px 15px;
  display: inline-block;
  text-decoration: none;
  color: #84c4fc;
}
.razor-admin .razor-admin-dashboard .dash-workspace {
  padding-top: 10px;
  margin-bottom: 60px;
}
.razor-admin .razor-admin-page .selected-theme-box {
  margin-left: 20px;
}
.razor-admin .razor-admin-page .selected-theme-box i {
  font-size: 30px;
}
.razor-admin .razor-admin-page .selected-theme-box .text {
  display: inline-block;
}
.razor-admin .razor-admin-page .selected-theme-box .text .handle {
  display: block;
  font-size: 10px;
}
.razor-admin .razor-admin-page .selected-theme-box .text .theme {
  display: block;
}
.razor-admin .editable-menu-link .editable-menu-anchor {
  cursor: pointer;
}
.razor-admin .editable-menu-link .editable-menu-options .first-tool {
  padding-left: 5px;
}
.razor-admin .editable-menu-link .editable-menu-options.tools-only {
  min-width: 135px;
}
.razor-admin .editable-menu-link .editable-menu-options .tools {
  display: inline;
}
.razor-admin .content-column.edit {
  min-height: 50px;
}
.razor-admin .content-column.edit .content-block {
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #bbbbbb;
  opacity: 0.6;
}
.razor-admin .content-column.edit .content-block .btn-toolbar {
  margin: 0px 0px 2px -2px;
  background-color: transparent;
}
.razor-admin .content-column.edit .content-block:hover,
.razor-admin .content-column.edit .content-block.active {
  opacity: 1;
}
.razor-admin .content-column.edit .content-block .content-view {
  height: auto;
  min-height: 50px;
  width: 100%;
}
.razor-admin .content-column.edit .content-block textarea {
  height: auto;
  min-height: 150px;
  width: 100%;
}
.razor-admin .content-column.edit .content-block > div {
  width: 100% !important;
  background-color: white;
}
.razor-admin .content-column.edit .content-block > div .nicEdit-main {
  width: 99% !important;
}
.razor-admin .modal .modal-header h1,
.razor-admin .modal .modal-header h2,
.razor-admin .modal .modal-header h3,
.razor-admin .modal .modal-header h4,
.razor-admin .modal .modal-header h5,
.razor-admin .modal .modal-header h6 {
  margin: 3px;
}
.razor-admin .modal .modal-header .fa-times {
  cursor: pointer;
}
.razor-admin .accordian .panel-title a {
  cursor: pointer;
  text-decoration: none;
}
.razor-admin .accordian .panel-title a .expander {
  font-size: 20px;
  padding: 0px;
}
.razor-admin .accordian .panel-title a .expander.button-heading {
  padding-top: 5px;
}
.razor-admin .accordian .content {
  color: black;
}
.razor-admin .accordian .content .table-data {
  margin: 20px 0px 0px 0px;
}
.razor-admin .accordian .content .page-preview {
  margin-top: 20px;
  margin-bottom: -255px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border: 1px solid #cccccc;
}
.razor-admin .accordian .content .page-preview.for-menu {
  margin-top: 0px;
  margin-bottom: 0px;
}
.razor-admin .accordian .content .page-preview iframe {
  border: none;
  width: 200%;
  height: 500px;
  -ms-zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}
.razor-admin .accordian .content .page-preview .preview-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 97%;
  height: 100%;
  z-index: 1000000;
  background-color: white;
  opacity: 0;
}
.razor-admin .accordian .content .content-preview {
  margin-top: 20px;
  height: 250px;
  overflow: scroll;
  border: 1px solid #cccccc;
}
.razor-admin .accordian .content .used_on_pages {
  padding: 2px 4px;
  border: 1px solid #cccccc;
  margin: 3px;
  display: inline-block;
  background-color: #eeeeee;
}
.razor-admin .accordian .content .theme-screenshot {
  width: 526px;
  border: 1px solid #bbbbbb;
  padding: 3px;
}
.razor-admin .accordian .content table {
  margin-bottom: 0px;
}
.razor-admin .accordian .filter {
  margin-bottom: 20px;
}
.razor-admin .slide-switch {
  display: block;
  padding: 2px;
  width: 100px;
  height: 35px;
  background-color: #aaaaaa;
  border: 2px solid #555555;
  cursor: pointer;
  border-radius: 4px;
}
.razor-admin .slide-switch .slide-switch-slider {
  display: block;
  height: 27px;
  width: 50px;
  background-color: #555555;
  float: left;
  text-align: center;
  padding-top: 5px;
  font-size: 11px;
  color: #aaaaaa;
  border-radius: 2px;
}
.razor-admin .slide-switch.slide-switch-on {
  background-color: #69b0f1;
}
.razor-admin .slide-switch.slide-switch-on .slide-switch-slider {
  float: right;
  color: #69b0f1;
}
.razor-admin .slide-switch.slide-switch-disabled {
  opacity: 0.6;
  cursor: default;
}
.razor-admin .multi-select {
  color: black;
  background-color: #f4f4f4;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 2px;
  position: relative;
}
.razor-admin .multi-select .ms-input-filter,
.razor-admin .multi-select .ms-input-select {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #777777;
}
.razor-admin .multi-select .rzr-selected {
  list-style-type: none;
  width: 100%;
  display: block;
  margin: 0px 0px 3px 0px;
  padding: 0px;
}
.razor-admin .multi-select .rzr-selected .rzr-selected-item {
  color: #444444;
  border: 1px solid #bbbbbb;
  background-color: #dddddd;
  margin: 1px;
  padding: 2px 6px;
  border-radius: 3px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}
.razor-admin .multi-select .rzr-selected .rzr-selected-item .ms-remove-item {
  margin-left: 3px;
  cursor: pointer;
}
.razor-admin .multi-select .ms-filter {
  width: 100%;
  display: block;
  height: 29px;
  padding: 3px;
}
.razor-admin .multi-select .rzr-options {
  list-style-type: none;
  color: black;
  position: absolute;
  min-width: 50%;
  display: block;
  z-index: 10000;
  background-color: white;
  padding: 10px;
  margin-left: -2px;
  margin-top: 3px;
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.3);
}
.razor-admin .multi-select .rzr-options .ms-option-item {
  padding: 3px;
}
.razor-admin .multi-select .rzr-options .ms-option-item:hover {
  background-color: #69b0f1;
  cursor: pointer;
}
.razor-admin .multi-select .rzr-options .ms-option-item-empty {
  padding: 3px;
  color: #aaaaaa;
}
@keyframes slide-up-down {
  0% {
    bottom: -200px;
  }
  5% {
    bottom: -10px;
  }
  85% {
    bottom: -10px;
  }
  100% {
    bottom: -200px;
  }
}
@-moz-keyframes slide-up-down {
  0% {
    bottom: -200px;
  }
  5% {
    bottom: -10px;
  }
  85% {
    bottom: -10px;
  }
  100% {
    bottom: -200px;
  }
}
@-webkit-keyframes slide-up-down {
  0% {
    bottom: -200px;
  }
  5% {
    bottom: -10px;
  }
  85% {
    bottom: -10px;
  }
  100% {
    bottom: -200px;
  }
}
@-o-keyframes slide-up-down {
  0% {
    bottom: -200px;
  }
  5% {
    bottom: -10px;
  }
  85% {
    bottom: -10px;
  }
  100% {
    bottom: -200px;
  }
}
