body {
  background-color: #F4F4F4;
}
body .template-wrapper .template-header {
  background-color: #4242CA;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #D3C8FF;
}
body .template-wrapper .template-header .template-header-menu {
  margin-bottom: 20px;
}
body .template-wrapper .template-header .template-header-menu .nav li a {
  color: #4242CA;
  border-radius: 2px;
  background-color: #fff;
}
body .template-wrapper .template-header .template-header-menu .nav li:hover a {
  color: #fff;
  background-color: #5959F3;
}
body .template-wrapper .template-header .template-header-menu .nav li.active a {
  color: #fff;
  background-color: #5959F3;
}
body .template-wrapper .template-header .template-header-menu .nav li.active:hover a {
  color: #fff;
  background-color: #5959F3;
}
body .template-wrapper .template-main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFF;
}
body .template-wrapper .template-main .nav li a {
  color: #4242CA;
  border-radius: 2px;
}
body .template-wrapper .template-main .nav li:hover a {
  color: #fff;
  background-color: #5858CA;
}
body .template-wrapper .template-main .nav li.active a {
  color: #fff;
  background-color: #4242CA;
}
body .template-wrapper .template-main .nav li.active:hover a {
  color: #fff;
  background-color: #5858CA;
}
body .template-wrapper .template-footer {
  padding-top: 20px;
  background-color: #FFF;
  border-top: 1px solid #E2E2E2;
}
body .template-wrapper .template-footer .template-footer-menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body .template-wrapper .template-footer .template-footer-menu ul li {
  float: left;
  margin-bottom: 20px;
}
body .template-wrapper .template-footer .template-footer-menu ul li a {
  margin-right: 20px;
  color: #4242CA;
}
body .template-wrapper .template-footer .template-footer-menu ul li:hover a {
  color: #4242CA;
  background-color: transparent;
}
body .template-wrapper .template-footer .template-footer-menu ul li.active a {
  color: #4242CA;
  background-color: transparent;
}
body .template-wrapper .template-footer .template-footer-menu ul li.active:hover a {
  color: #4242CA;
  background-color: transparent;
}
